In [23]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd

In [2]:
# Set up Splinter web browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 109.0.5414
Get LATEST chromedriver version for 109.0.5414 google-chrome
There is no [mac64] chromedriver for browser 109.0.5414 in cache
Trying to download new driver from https://chromedriver.storage.googleapis.com/109.0.5414.74/chromedriver_mac64.zip
Driver has been saved in cache [/Users/kaitlynhopkins/.wdm/drivers/chromedriver/mac64/109.0.5414.74]

### Quotes Web Scrape

In [3]:
# Set browser instance to website url 
url = 'http://quotes.toscrape.com/'
browser.visit(url)

In [4]:
# Parse the HTML
# store html data from page as variable
html = browser.html
# instantiate BS to parse html script from webpage
html_soup = soup(html, 'html.parser')

In [5]:
# Scrape title using html parse object
html_soup.h2.text

'Top Ten tags'

In [6]:
html_soup.find('h2').text

'Top Ten tags'

In [7]:
# Scrape all tags 
# get outer unique html tag to find inner tag
tag_links = html_soup.find('div', class_='col-md-4 tags-box').find_all('a', class_="tag")
tag_links

[<a class="tag" href="/tag/love/" style="font-size: 28px">love</a>,
 <a class="tag" href="/tag/inspirational/" style="font-size: 26px">inspirational</a>,
 <a class="tag" href="/tag/life/" style="font-size: 26px">life</a>,
 <a class="tag" href="/tag/humor/" style="font-size: 24px">humor</a>,
 <a class="tag" href="/tag/books/" style="font-size: 22px">books</a>,
 <a class="tag" href="/tag/reading/" style="font-size: 14px">reading</a>,
 <a class="tag" href="/tag/friendship/" style="font-size: 10px">friendship</a>,
 <a class="tag" href="/tag/friends/" style="font-size: 8px">friends</a>,
 <a class="tag" href="/tag/truth/" style="font-size: 8px">truth</a>,
 <a class="tag" href="/tag/simile/" style="font-size: 6px">simile</a>]

In [8]:
# loop through tag links to extract text
[print(tags.text) for tags in tag_links]

love
inspirational
life
humor
books
reading
friendship
friends
truth
simile

[None, None, None, None, None, None, None, None, None, None]

In [9]:
# Looping through pages by range (1,6)
for x in range(1,6):
    # get html data from browser as variable
    html = browser.html
    # instantiate bs object
    quote_soup = soup(html, 'html.parser')
    # scrape quotes using html tags
    quotes = quote_soup.find_all('span', class_='text')
    for quote in quotes:
        print('page:', x, '-----------')
        print(quote.text)
    # use browser to click next page button 
    browser.links.find_by_partial_text('Next').click()

page: 1 -----------
“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”
page: 1 -----------
“It is our choices, Harry, that show what we truly are, far more than our abilities.”
page: 1 -----------
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”
page: 1 -----------
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
page: 1 -----------
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”
page: 1 -----------
“Try not to become a man of success. Rather become a man of value.”
page: 1 -----------
“It is better to be hated for what you are than to be loved for what you are not.”
page: 1 -----------
“I have not failed. I've just found 10,000 ways that won't work.”
page: 1 -----------
“A woman is like a tea bag; you never know how strong it is until it's in hot water.”
page: 1 -----------
“A day without sunshine is like, you know, night.”
page: 2 -----------
“This life is what you make it. No matter what, you're going to mess up sometimes, it's a universal truth. But the good part is you get to decide how you're going to mess it up. Girls will be your friends - they'll act like it anyway. But just remember, some come, some go. The ones that stay with you through everything - they're your true best friends. Don't let go of them. Also remember, sisters make the best friends in the world. As for lovers, well, they'll come and go too. And baby, I hate to say it, most of them - actually pretty much all of them are going to break your heart, but you can't give up because if you give up, you'll never find your soulmate. You'll never find that half who makes you whole and that goes for everything. Just because you fail once, doesn't mean you're gonna fail at everything. Keep trying, hold on, and always, always, always believe in yourself, because if you don't, then who will, sweetie? So keep your head high, keep your chin up, and most importantly, keep smiling, because life's a beautiful thing and there's so much to smile about.”
page: 2 -----------
“It takes a great deal of bravery to stand up to our enemies, but just as much to stand up to our friends.”
page: 2 -----------
“If you can't explain it to a six year old, you don't understand it yourself.”
page: 2 -----------
“You may not be her first, her last, or her only. She loved before she may love again. But if she loves you now, what else matters? She's not perfect—you aren't either, and the two of you may never be perfect together but if she can make you laugh, cause you to think twice, and admit to being human and making mistakes, hold onto her and give her the most you can. She may not be thinking about you every second of the day, but she will give you a part of her that she knows you can break—her heart. So don't hurt her, don't change her, don't analyze and don't expect more than she can give. Smile when she makes you happy, let her know when she makes you mad, and miss her when she's not there.”
page: 2 -----------
“I like nonsense, it wakes up the brain cells. Fantasy is a necessary ingredient in living.”
page: 2 -----------
“I may not have gone where I intended to go, but I think I have ended up where I needed to be.”
page: 2 -----------
“The opposite of love is not hate, it's indifference. The opposite of art is not ugliness, it's indifference. The opposite of faith is not heresy, it's indifference. And the opposite of life is not death, it's indifference.”
page: 2 -----------
“It is not a lack of love, but a lack of friendship that makes unhappy marriages.”
page: 2 -----------
“Good friends, good books, and a sleepy conscience: this is the ideal life.”
page: 2 -----------
“Life is what happens to us while we are making other plans.”
page: 3 -----------
“I love you without knowing how, or when, or from where. I love you simply, without problems or pride: I love you in this way because I do not know any other way of loving but this, in which there is no I or you, so intimate that your hand upon my chest is my hand, so intimate that when I fall asleep your eyes close.”
page: 3 -----------
“For every minute you are angry you lose sixty seconds of happiness.”
page: 3 -----------
“If you judge people, you have no time to love them.”
page: 3 -----------
“Anyone who thinks sitting in church can make you a Christian must also think that sitting in a garage can make you a car.”
page: 3 -----------
“Beauty is in the eye of the beholder and it may be necessary from time to time to give a stupid or misinformed beholder a black eye.”
page: 3 -----------
“Today you are You, that is truer than true. There is no one alive who is Youer than You.”
page: 3 -----------
“If you want your children to be intelligent, read them fairy tales. If you want them to be more intelligent, read them more fairy tales.”
page: 3 -----------
“It is impossible to live without failing at something, unless you live so cautiously that you might as well not have lived at all - in which case, you fail by default.”
page: 3 -----------
“Logic will get you from A to Z; imagination will get you everywhere.”
page: 3 -----------
“One good thing about music, when it hits you, you feel no pain.”
page: 4 -----------
“The more that you read, the more things you will know. The more that you learn, the more places you'll go.”
page: 4 -----------
“Of course it is happening inside your head, Harry, but why on earth should that mean that it is not real?”
page: 4 -----------
“The truth is, everyone is going to hurt you. You just got to find the ones worth suffering for.”
page: 4 -----------
“Not all of us can do great things. But we can do small things with great love.”
page: 4 -----------
“To the well-organized mind, death is but the next great adventure.”
page: 4 -----------
“All you need is love. But a little chocolate now and then doesn't hurt.”
page: 4 -----------
“We read to know we're not alone.”
page: 4 -----------
“Any fool can know. The point is to understand.”
page: 4 -----------
“I have always imagined that Paradise will be a kind of library.”
page: 4 -----------
“It is never too late to be what you might have been.”
page: 5 -----------
“A reader lives a thousand lives before he dies, said Jojen. The man who never reads lives only one.”
page: 5 -----------
“You can never get a cup of tea large enough or a book long enough to suit me.”
page: 5 -----------
“You believe lies so you eventually learn to trust no one but yourself.”
page: 5 -----------
“If you can make a woman laugh, you can make her do anything.”
page: 5 -----------
“Life is like riding a bicycle. To keep your balance, you must keep moving.”
page: 5 -----------
“The real lover is the man who can thrill you by kissing your forehead or smiling into your eyes or just staring into space.”
page: 5 -----------
“A wise girl kisses but doesn't love, listens but doesn't believe, and leaves before she is left.”
page: 5 -----------
“Only in the darkness can you see the stars.”
page: 5 -----------
“It matters not what someone is born, but what they grow to be.”
page: 5 -----------
“Love does not begin and end the way we seem to think it does. Love is a battle, love is a war; love is a growing up.”

### Books Web Scrape

In [10]:
# scrape book titles and urls
# go to book url
book_url = 'http://books.toscrape.com/'
browser.visit(book_url)
# set up bs object
html = browser.html
book_soup = soup(html, 'html.parser')
# scrape outer list
books = book_soup.find('ol', class_='row').find_all('h3')
# loop through books and get link and title
for book in books:
    title = book.a.text
    link = book.find('a')['href']
    print(f"{title}: {link}")

A Light in the ...: catalogue/a-light-in-the-attic_1000/index.html
Tipping the Velvet: catalogue/tipping-the-velvet_999/index.html
Soumission: catalogue/soumission_998/index.html
Sharp Objects: catalogue/sharp-objects_997/index.html
Sapiens: A Brief History ...: catalogue/sapiens-a-brief-history-of-humankind_996/index.html
The Requiem Red: catalogue/the-requiem-red_995/index.html
The Dirty Little Secrets ...: catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html
The Coming Woman: A ...: catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html
The Boys in the ...: catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html
The Black Maria: catalogue/the-black-maria_991/index.html
Starving Hearts (Triangular Trade ...: catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html
Shakespeare's Sonnets: catalogue/shakespeares-sonnets_989/index.html
Set Me Free: catalogue/set-me-free_988/index.html
Scott Pilgrim's Precious Little ...: catalogue/scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html
Rip it Up and ...: catalogue/rip-it-up-and-start-again_986/index.html
Our Band Could Be ...: catalogue/our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html
Olio: catalogue/olio_984/index.html
Mesaerion: The Best Science ...: catalogue/mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html
Libertarianism for Beginners: catalogue/libertarianism-for-beginners_982/index.html
It's Only the Himalayas: catalogue/its-only-the-himalayas_981/index.html

## Mars Web Scrape

### News Article

In [3]:
## MARS SCRAPE
# new url
url = 'https://redplanetscience.com/'
# set browser to visit url
browser.visit(url)

In [4]:
# search for uniqe tags and delay for page loading with browser
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [5]:
# set up soup instance
html = browser.html
news_soup = soup(html, 'html.parser')
# select the first article by tag and class
slide_elem = news_soup.select_one('div.list_text')

In [6]:
# using requests api to parse
r_url = 'https://redplanetscience.com'
response = requests.get('https://redplanetscience.com')
news_re_soup = soup(response.text, 'html.parser')
# select the first article by tag and class
side_elem = news_re_soup.find('div', class_='list-text')
side_elem

In [7]:
print(slide_elem)

<div class="list_text">
<div class="list_date">January 12, 2023</div>
<div class="content_title">The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover</div>
<div class="article_teaser_body">Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.</div>
</div>

In [8]:
# store title
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover"

In [9]:
slide_elem.find('div', class_='content_title').text

"The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover"

In [10]:
# get article body
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.'

### Image Data

In [16]:
# image url
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [12]:
# use web-driver to click full image button - using class
full_img_btn = browser.find_by_css('button.btn')
full_img_btn.click()

In [15]:
# use web-driver to click full image button - using text
full_img_btn = browser.links.find_by_partial_text('FULL IMAGE')
full_img_btn.click()

In [18]:
# use web-driver to click full image button - using tag indexing
full_img_btn = browser.find_by_tag('button')[1]
full_img_btn.click()

In [19]:
## set up parser
html = browser.html
img_soup = soup(html, 'html.parser')

In [20]:
# scrape image data
mars_img = img_soup.find('img', class_='fancybox-image').get('src')
mars_img

'image/featured/mars3.jpg'

In [21]:
# create full url for image
img_url = f'https://spaceimages-mars.com/{mars_img}'
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

### Mars Facts - Table Data

In [28]:
# read first table directly into df
df = pd.read_html("https://galaxyfacts-mars.com/")[0]

In [29]:
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [30]:
# set the column names
df.columns=['Description', 'Mars', 'Earth']
df.set_index('Description', inplace=True)

In [31]:
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [32]:
# convert df back to html to use on site
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [33]:
# quit automated browser
browser.quit()